.metadata/
.recommenders/
RemoteSystemsTempFiles/
SampleConsuming/.classpath
SampleConsuming/.gradle/*
SampleConsuming/.project
SampleConsuming/.settings/*
SampleConsuming/bin/*

SampleRESTful/.classpath
SampleRESTful/.gradle/*
SampleRESTful/.project
SampleRESTful/.settings/*
SampleRESTful/bin/*

SampleSimple/.classpath
SampleSimple/.gradle/*
SampleSimple/.project
SampleSimple/.settings/*
SampleSimple/bin/*

SchedulingTasks/.classpath
SchedulingTasks/.gradle/*
SchedulingTasks/.project
SchedulingTasks/.settings/*
SchedulingTasks/bin/*

SpringActuator/.classpath
SpringActuator/.gradle/*
SpringActuator/.project
SpringActuator/.settings/*
SpringActuator/bin/*

SpringJDBC/.classpath
SpringJDBC/.gradle/*
SpringJDBC/.project
SpringJDBC/.settings/*
SpringJDBC/bin/*

SpringNeo4j/.classpath
SpringNeo4j/.gradle/*
SpringNeo4j/.project
SpringNeo4j/.settings/*
SpringNeo4j/bin/*

SpringRedis/.classpath
SpringRedis/.gradle/*
SpringRedis/.project
SpringRedis/.settings/*
SpringRedis/bin/*

