.metadata/
.recommenders/
RemoteSystemsTempFiles/
SampleConsuming/.classpath
SampleConsuming/.gradle/*
SampleConsuming/.project
SampleConsuming/.settings/*
SampleConsuming/bin/*
SampleConsuming/build/*
SampleRESTful/.classpath
SampleRESTful/.gradle/*
SampleRESTful/.project
SampleRESTful/.settings/*
SampleRESTful/bin/*
SampleRESTful/build/*
SampleSimple/.classpath
SampleSimple/.gradle/*
SampleSimple/.project
SampleSimple/.settings/*
SampleSimple/bin/*
SchedulingTasks/build/*
SchedulingTasks/.classpath
SchedulingTasks/.gradle/*
SchedulingTasks/.project
SchedulingTasks/.settings/*
SchedulingTasks/bin/*
SpringActuator/build/*
SpringActuator/.classpath
SpringActuator/.gradle/*
SpringActuator/.project
SpringActuator/.settings/*
SpringActuator/bin/*
SpringJDBC/build/*
SpringJDBC/.classpath
SpringJDBC/.gradle/*
SpringJDBC/.project
SpringJDBC/.settings/*
SpringJDBC/bin/*
SpringNeo4j/build/*
SpringNeo4j/.classpath
SpringNeo4j/.gradle/*
SpringNeo4j/.project
SpringNeo4j/.settings/*
SpringNeo4j/bin/*
SpringRedis/build/*
SpringRedis/.classpath
SpringRedis/.gradle/*
SpringRedis/.project
SpringRedis/.settings/*
SpringRedis/bin/*

